{% extends 'base.html.twig' %}

{% block body %}
    <h4> Lista zgłoszonych uczestników </h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Koszt</th>
            <th scope="col">Typ Biletu</th>
        </tr>
        </thead>
        <tbody>
        {% for row in pagination %}
            <tr>
                <td>{{ row.firstName }}</td>
                <td>{{ row.lastName }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.travelCost }}</td>
                <td>{{ row.travelType }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        <p>{{ knp_pagination_render(pagination) }}</p>
    </div>

{% endblock %}