{% extends 'base.html.twig' %}

{% block body %}
    <h4> Podanie o wycieczkę na Marsa </h4>
    <hr/>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Zapisz się!" class="btn btn-success" id="submit" />
        {{ form_end(form) }}
    </div>
{% endblock %}