label.required:after {
    content: "*";
    color: red;
}

table{
    margin-top: 15px;
}

span {
    margin-right: 3px;
    font-weight: 700;
}

.main {
    margin-top: 2% !important;
}

.navbar-brand{
    margin-right: 3%;
}

.alert {
    position: absolute;
    bottom: 25px;
    width: 100%;
}

.header-container{
    display: inline-block !important;
}